<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WASTEAWAY</title>
    <!-- <link rel="stylesheet" href="./src/css/style.css"> -->
    
    <script src="handlebars-v4.7.7.js"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
    integrity="sha384B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
    crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script> 
   <script src="handlebars-v4.7.7.js"></script>
   
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Secular+One&display=swap" rel="stylesheet">

  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link rel="stylesheet" href="./stylesheets/style1.css">
</head>

<body>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{/if}}
    <main>
      {{{ body }}}
    </main>
    
<!-------------------------- FOOTER -------------------------->
<footer>
    <div class="footer-container">
        <div class="logo">
            <a class="navbar-brand" href="index.html">
                <img class="header-logo" src="/images/logo.png" alt="Logo">
                WasteAway
            </a>
            <p>&copy; 2021, All rights reserved</p>
        </div>
    </div>
</footer>

{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="./javascript/script.js"></script>
   
</body>

</html>