<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WASTEAWAY</title>
    <!-- <link rel="stylesheet" href="./src/css/style.css"> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <main>
      {{{ body }}}
    </main>
    
<!-------------------------- FOOTER -------------------------->
<footer>
    <div class="footer-container">
        <div class="logo">
            <a class="navbar-brand" href="index.html">
                <img class="header-logo" src="src/images/logo.png" alt="Logo">
                WasteAway
            </a>
            <p>&copy; 2021, All rights reserved</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="./javascript/script.js"></script>
</body>

</html>