<div class="wrapper">
    <!--header start-->
    <div class="secondary-nav-container">
        <div class="header">
            <div class="header-menu">
                <div class="title logo">
                    <a class="navbar-brand" href="index.html">
                        <img src="public/images/logo.png" alt="logo">
                        Waste Management
                    </a>
                </div>
            </div>
        </div>

        <div class="secondary-nav">
            <li class="item">
                    <i class="fas fa-desktop"></i><span>Dashboard</span>
                </a>
        
            </li>
            <li class="item" id="inventory-overview">
                <a href="#inventory-overview" class="menu-btn" id="inventory-focus">
                    <i class="fas fa-cog"></i><span>Inventory <i class="fas fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="#" id="overview-focus"><i class="fas fa-overview-card"></i><span>Overview</span></a>
                    <a href="#" id="management-focus"><i class="fas fa-overview-card"></i><span>Inventory Management</span></a>
                </div>
            </li>
        </div>
    </div>

    <!--header menu end-->
    
    <!--sidebar start-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="Inventory">
                <h3>Dashboard</h3>
            </center>
            {{#if loggedIn}}
            <a id="logout" href="index.html" class="logout">Logout</a>
            {{/if}} 
            </div>

        <!--main container start-->
        <div class="main-container">
            <main class="card-container">
                <h3>Weekly Report</h3>
                <br>
                <div class="cards">
                    <div class="card-single">
                        <div>
                            <h1>$0</h1>
                            <span class="tooltip">ICC
                                <span class="tooltiptext">Inventory Carrying Cost</span>
                            </span>
                        </div>
                        
                        <div>
                            <span class="fas fa-lemon"></span>
                        </div>
                    </div>

                    <div class="card-single">
                        <div>
                            <h1>$0</h1>
                            <span>Purchase</span>
                        </div>
                        <div>
                            <span class="fas fa-dolly-flatbed"></span>
                        </div>
                    </div>

                    <div class="card-single">
                        <div>
                            <h1>$0</h1>
                            <span>Waste $</span>
                        </div>
                        <div>
                            <span class="fas fa-shopping-basket"></span>
                        </div>
                    </div>

                    <div class="card-single">
                        <div>
                            <h1>0%</h1>
                            <span>Waste %</span>
                        </div>
                        <div>
                            <span class="fas fa-trash"></span>
                        </div>
                    </div>
                </div>

                <div class="recent-grid">
                    <div class="projects">
                      <div class="card">
                        <div class="card-header">
                          <h2>Inventory Counts</h2>
                          <button>See all <span class="fas fa-arrow-right"></span> </button>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table width="100%">
                               
                            <thead>
                                <tr>
                                    <td>Week #</td>
                                    <td>Date Complete</td>
                                    <td>Status</td>
                                </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <td>05</td>
                                <td>Aug 2</td>
                                <td>
                                  <span class="status"></span>
                                  Upcoming
                                </td>
                              </tr>
                              <tr>
                                <td>04</td>
                                <td>July 26</td>
                                <td>
                                  <span class="status orange"></span>
                                  15% waste
                                </td>
                              </tr>
                              <tr>
                                <td>03</td>
                                <td>July 19</td>
                                <td>
                                  <span class="status red"></span>
                                  35% waste
                                </td>
                              </tr>
                              <tr>
                                <td>02</td>
                                <td>July 12</td>
                                <td>
                                  <span class="status green"></span>
                                  7% waste
                                </td>
                              </tr>
                              <tr>
                                <td>01</td>
                                <td>July 5</td>
                                <td>
                                  <span class="status red"></span>
                                  25% waste
                                </td>
                              </tr>
                            </tbody>
          
                          </table>
                          </div>
                        </div>
          
                      </div>
          
                    </div>

        </div> <!--main container end-->
    </div> <!--sidebar end-->
</div> <!--end of .wrapper-->
{{> products products}}
    

<script type="text/javascript">
$(document).ready(function(){
    $(".sidebar-btn").click(function(){
        $(".wrapper").toggleClass("collapse");
    });
});

</script>