<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Dashboard
        </h1>
        <h2 class="subtitle">
          WasteAway
        </h2>
      </div>
    </div>
  </section>

  <br>

  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
    <div class="wrapper">
        <!--header start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Waste Management</div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
        <!--header menu end-->
        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="Inventory">
                    <img src="" alt="">
                    <p>Inventory</p>
                </center>
                <li class="item">
                    <a href="#" class="menu-btn">
                        <i class="fas fa-desktop"></i><span>Dashboard</span>
                    </a>
                      <div class="main-container">
                </li>
                <li class="item" id="inventory-overview">
                    <a href="#inventory-overview" class="menu-btn">
                        <i class="fas fa-cog"></i><span>Inventory Overview <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-overview-card"></i><span>Info</span></a>
                    </div>
                </li>
                <li class="item" id="inventory-management">
                    <a href="#inventory-management" class="menu-btn">
                        <i class="fas fa-user-circle"></i><span>Inventory Management<i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="/api/products"><i class="fas fa-overview-card"></i><span>Add Products</span></a>
                    </div>
                </li>
                <li class="item" id="orders-recieved">
                    <a href="#orders-recieved" class="menu-btn">
                        <i class="fas fa-cog"></i><span>New Orders<i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-overview-card"></i><span>New Producta</span></a>
                        <a href="#"><i class="fas fa-overview-card"></i><span>All Products</span></a>
                    </div>
                </li>
            </div>
            <div class="media-content">
              <p class="title is-4">Inventory Overview</p>
            </div>
          </div>

          <div class="content">
            <a href="/overview"><button class="button is-dark is-centered" id="inventory-overview">Go!</button></a> 
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
              <p class="title is-4">Inventory Management</p>
            </div>
          </div>

          <div class="content">
            <a href="/management"><button class="button is-dark" id="inventory-management">Go!</button> </a>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
            </div>
            <div class="media-content">
              <p class="title is-4">Orders</p>
            </div>
          </div>

          <div class="content">
            <a href="/orders"><button class="button is-dark" id="orders">Go!</button></a>
            <br>
          </div>
        </div>
      </div>
    </div>
    <!--wrapper end-->
    <script type="text/javascript">
    $(document).ready(function(){
        $(".sidebar-btn").click(function(){
            $(".wrapper").toggleClass("collapse");
        });
    });
    
    </script>
