    <div class="wrapper">
        <!--header start-->
        <div class="secondary-nav-container">
            <div class="header">
                <div class="header-menu">
                    <div class="title logo">
                        <a class="navbar-brand" href="index.html">
                            <img src="../public/images/logo.png" alt="logo">
                            Waste Management
                        </a>
                    </div>
                </div>
            </div>

                <div class="secondary-nav">
                <li class="item">
                    <a href="#" class="menu-btn"  id="dashboard-focus">
                        <i class="fas fa-desktop"></i><span>Dashboard</span>
                    </a>
            
                </li>
                <li class="item" id="inventory-overview">
                    <a href="#inventory-overview" class="menu-btn" id="inventory-focus">
                        <i class="fas fa-cog"></i><span>Inventory <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#" id="overview-focus"><i class="fas fa-overview-card"></i><span>Overview</span></a>
                        <a href="#" id="management-focus"><i class="fas fa-overview-card"></i><span>Inventory Management</span></a>
                    </div>
                </li>
            </div>
        </div>

        <!--header menu end-->
        
        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="Inventory">
                    <h3>Dashboard</h3>
                </center>
                {{#if loggedIn}}
                    <a id="logout" href="index.html" class="logout">Logout</a>
                {{/if}}
            </div>

            <!--main container start-->
            <div class="main-container">
                <div class="primary-card">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
                <div class="secondary-card">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
                <div class="secondary-card">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                </div>
            </div> <!--main container end-->
        </div> <!--sidebar end-->
    </div> <!--end of .wrapper-->
    {{> products products}}
        

    <script type="text/javascript">
    $(document).ready(function(){
        $(".sidebar-btn").click(function(){
            $(".wrapper").toggleClass("collapse");
        });
    });

    </script>