
    <div class="wrapper">
        <!--header start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Waste Management</div>
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
        <!--header menu end-->
        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="Inventory">
                    <img src="" alt="">
                    <p>Inventory</p>
                </center>
                <li class="item">
                    <a href="#" class="menu-btn">
                        <i class="fas fa-desktop"></i><span>Dashboard</span>
                    </a>
                      <div class="main-container">
                </li>
                <li class="item" id="inventory-overview">
                    <a href="#inventory-overview" class="menu-btn">
                        <i class="fas fa-cog"></i><span>Inventory Overview <i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-overview-card"></i><span>Info</span></a>
                    </div>
                </li>
                <li class="item" id="inventory-management">
                    <a href="#inventory-management" class="menu-btn">
                        <i class="fas fa-user-circle"></i><span>Inventory Management<i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="/add"><i class="fas fa-overview-card"></i><span>Add Products</span></a>
                    </div>
                </li>
                <li class="item" id="orders-recieved">
                    <a href="#orders-recieved" class="menu-btn">
                        <i class="fas fa-cog"></i><span>New Orders<i class="fas fa-chevron-down drop-down"></i></span>
                    </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-overview-card"></i><span>New Producta</span></a>
                        <a href="#"><i class="fas fa-overview-card"></i><span>All Products</span></a>
                    </div>
                </li>
            </div>
        </div>
        

            {{#if loggedIn}}
        <button id="logout" class="button-primary">logout</button>
    {{/if}}
    
        <!--sidebar end-->
        <!--main container start-->
        <div class="main-container">
            <div class="card">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="card">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="card">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
        </div>
        <!--main container end-->
    </div>
{{> products products}}
    <!--wrapper end-->
    <script type="text/javascript">
    $(document).ready(function(){
        $(".sidebar-btn").click(function(){
            $(".wrapper").toggleClass("collapse");
        });
    });
    
    </script>