
<div id='mainDiv'>
       <div id='formDiv'>
           <form id='invForm'>
               <fieldset>
                   <legend>Inventory</legend>
                   <table id='regDetails'>
                       <tr>
                           <td><label for='itemInput'>Item</label></td>
                           <td><input type='text' id='itemInput'/></td>
                       </tr>
                       <tr>
                           <td><label for='qtyInput'>QTY</label></td>
                           <td><input type='number' id='qtyInput'/></td>
                       </tr>
                       <tr>
                        <td><label for='costInput'>Cost</label></td>
                        <td><input type='number' id='costInput'/></td>
                    </tr>
                       <tr>
                        <li class="grey"><a href="#" class="button">+</a></li>
                        <td colspan='2'><input type='submit' id='submitButton'/></td>
                       </tr>
                   </table>
               </fieldset>
           </from>
       </div>
       <div id='detailsBox'></div>
   </div>
   
   <script>
   $(document).ready( function() {
   var inventory = $("#inventory").html();
   var inventory = Handlebars.compile(templateSource);
    inventory= $('#createButton').click(function(){
               $("#detailsBox").html(template({"itemValue":$('#itemInput').val(), "qtyValue":$('#qtyInput').val(), "costValue":$('#costInput').val()}));
       });
   });
   console.log(inventory);
   </script>