   <!--sidebar start-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="Inventory">
                <h3>Overview</h3>
            </center>
                <a id="logout" href="index.html" class="logout">Logout</a>
        </div>

        <!--main container start-->
        <div class="main-container" id="mainDiv">
            
            <!-- View products -->
            <div class="filter-container">
                <label class="label">
                    <h3>View Products</h3>
                </label>

                {{!-- <div class="select">
                    <select id="select">
                        <option>All Products</option>
    
                        <option id='catDairy'>Dairy</option>
                        <option id='catFruits'>Fruits</option>
                        <option id='catGrains'>Grains</option>
                        <option id='catProteins'>Proteins</option>
                        <option id='catVegetable'>Vegetables</option>
                        <option id='catOthers'>Others</option>

                        <!--
                        {{#each products}}
                        <option id="{{id}}">{{name}}</option>
                        
                        {{/each}}
                        -->
                    </select>
                </div> --}}
            </div>

            <div class="container">
                <div id="productDiv" class="content">
                    <table id="productOverview">
                        <col style="width: 40%;"/>
                        <tr>
                            <th><label for='itemLabel'>Item</label></th>
                            <th><label for='qtyLabel'>QTY</label></th>
                            <th><label for='costLabel'>Cost</label></th>
                            <th><label for='consumptionLabel'>Consumption</label></th>
                            <th><label for='wasteLabel'>Waste</label></th>
                            <th><label for='lossLabel'>Loss</label></th>
                        </tr>
                        {{> products products}}
                    </table>
                            
                </div>
            </div>
        </div> <!--main container end-->
    </div> <!--sidebar end-->