   <!--sidebar start-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="Inventory">
                <h3>Overview</h3>
            </center>
                <a id="logout" href="index.html" class="logout">Logout</a>
        </div>

        <!--main container start-->
        <div class="main-container" id="mainDiv">
            
            {{#if products.length}}
            <!-- View products -->
            <div class="filter-container">
                <label class="label">
                    <h3>View Products</h3>
                </label>
            </div>

            <div class="container">
                <div id="productDiv" class="content">
                    <h4>Waste Percentage Quantity : {{wasteQuantityPercentage products}}%</h4>
                    <h4>Waste Cost : ${{wasteCost products}}</h4>
                    <table id="productOverview">
                        <col style="width: 40%;"/>
                        <tr>
                            <th><label for='itemLabel'>Item</label></th>
                            <th><label for='qtyLabel'>QTY</label></th>
                            <th><label for='costLabel'>Total Cost</label></th>
                            <th><label for='consumptionLabel'>Consumption</label></th>
                            <th><label for='wasteLabel'>Waste</label></th>
                            <th><label for='lossLabel'>Loss</label></th>
                        </tr>
                        {{> products products}}
                    </table>
                    {{else}}
                    <h5>add some products</h5>
                    {{/if}}
                </div>
            </div>
        </div> <!--main container end-->
    </div> <!--sidebar end-->