   <div class="wrapper">
    <!--header start-->
    <div class="secondary-nav-container">
        <div class="header">
            <div class="header-menu">
                <div class="title logo">
                    <a class="navbar-brand" href="index.html">
                        <img src="/images/logo.png"" alt="logo">
                        Waste Management
                    </a>
                </div>
            </div>
        </div>

        <div class="secondary-nav">
            <li class="item">
                <a href="#dashboard" class="menu-btn">
                    <i class="fas fa-desktop"></i><span>Dashboard</span>
                </a>
        
            </li>
            <li class="item" id="inventory-overview">
                <a href="#inventory-overview" class="menu-btn" id="focus">
                    <i class="fas fa-cog"></i><span>Inventory <i class="fas fa-chevron-down drop-down"></i></span>
                </a>
                <div class="sub-menu">
                    <a href="/overview" id="focus"><i class="fas fa-overview-card"></i><span>Overview</span></a>
                    <a href="/add"><i class="fas fa-overview-card"></i><span>Inventory Management</span></a>
                </div>
            </li>
        </div>
    </div>

   <!--sidebar start-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="Inventory">
                <h3>Overview</h3>
            </center>
                {{#if loggedIn}}
                <a id="logout" href="index.html" class="logout">Logout</a>
                {{/if}}
        </div>

        <!--main container start-->
        <div class="inv-container" id="mainDiv">
            
            {{#if products.length}}
            <!-- View products -->
            <div class="filter-container">
                <label class="label">
                    <h3>View All Products</h3>
                </label>
            </div>

            <div class="container-db">
                <div id="productDiv" class="content">
                    <div class="overview-sum">
                        <p><b>Waste Percentage Quantity</b> : {{wasteQuantityPercentage products}}%</p>
                        <p><b>Waste Cost</b> : ${{wasteCost products}}</p>
                    </div>
                    <table id="productOverview">
                        <col style="width: 40%;"/>
                        <tr>
                            <th><label for='itemLabel'>Item</label></th>
                            <th><label for='qtyLabel'>QTY</label></th>
                            <th><label for='costLabel'>Total Cost</label></th>
                            <th><label for='consumptionLabel'>Consumption</label></th>
                            <th><label for='wasteLabel'>Waste</label></th>
                            <th><label for='lossLabel'>Loss</label></th>
                            <th><label for='deleteLabel'>Remove</label></th>
                        </tr>
                        {{> products products}}
                    </table>
                    {{else}}
                    <div class="add-button">
                        <a href="/add">
                            <button class="button-primary">
                                <i class="fas fa-plus"></i> Add products
                            </button>
                        </a>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div> <!--main container end-->
    </div> <!--sidebar end-->
</div>