.wrapper {
    display: flex;
}

/* ---------- NAVIGATION ----------*/
.logo {
    font-family: 'Oswald', sans-serif;
    float: left;
    padding: 1.5em 0;
}
.navbar-brand {
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    font-size: 15px;
}

.navbar-brand img {
    height: calc(20px + 1vh);
}

.secondary-nav-container {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    background-color: #F7F9FC;
    height: 100vh;
    width: 450px;
}

.secondary-nav {
    list-style: none; 
    text-align: left;
}

.item {
    margin-bottom: 20px;
}

.item a, .logout {
    padding: 0.75em 1em;
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: #248277;
}

#focus {
    color: #248277;
}

.item a i {
    margin-right: 10px;
}

.drop-down {
   margin-left: 1em;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    margin: 1vh 0 0 50px;
}

.sub-menu a {
    font-size: 1em;
}

/* ---------- TITLE ----------*/
.sidebar {
    width: 100%;
}

.sidebar-menu {
    background-color: #248277;
    padding: 2em;

    color: white;
    font-weight: bold;
}

.logout {
    position: absolute;
    right: 3%;
    top: 2em;

    color: white;
    font-size: 0.8em;
}

.logout:hover {
    color: #333;
}

/* ---------- CARDS ----------*/
.main-container {
    display: flex;
    padding: 5vh 5vw;
    flex-wrap: wrap;
    gap: 0 10%;

    background: white;
}

.card-container {
    margin-top: 0;
    padding: 2em 0;
}

.card-container h1 {
    font-size: 2em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #F3F6FA;
    padding: 2.5rem;
    border-radius: 12px;
}

.card-single div:last-child span{
    color: #333;
    font-size: 3rem;
}

.card-single div:first-child span{
    color: grey;
}

.card-single:last-child{
    background: #248277;
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
    color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 16vh;
    background-color: lightgrey;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-left: 10px;

  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
  }
  .card{
    background: #fff;
    border-radius: 12px;
  }
  .card-header
  {
    padding: 1rem;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
  }
  .card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border:1px solid var(--main-color);
  }
  table{
    border-collapse: collapse;
  }
  thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom:2px solid #f0f0f0;
  
  }
  thead td{
    font-weight: 700;
  }
  td{
    padding: .5rem 1rem ;
    font-size: .9rem ;
    color: #222;
    
  }
  tr td:last-child{
    display: flex;
    align-items: center;
  
  
  }
  td .status{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem; 
  }
  .status.red {
    background: red;
  }
  .status.orange{
    background: orange;
  }
  .status.green{
    background: green;
  }