

#formDiv {
    width: 100%;
}

.button-add, .button-remove {
    border: none;
    background-color: transparent;
    margin-left: 1em;
}

.button-add:hover {
    color: #F9C74F;
}

.button-add {
    color: #248277;
}

.button-remove, .button-edit {
    color: lightgrey
}

.button-remove:hover, .button-edit:hover {
    color: #c74c46;
}

fieldset {
    border: none;
    width: 100%;
}

legend {
    text-align: center;
}

table {
    border-spacing: 3vh 2vh;
    border-top: 1px solid #333;
}

fieldset h3, label h3 {
    margin-bottom: 3vh;
}

fieldset p {
    margin-top: -2vh;
}

input, #categoryInput {
    height: 2vh;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 10px;
}

.buttons {
    white-space: nowrap;
}

td label {
    margin: 0;
}

#itemInput {
    width: 20vw;
}

#qtyInput, #costInput, #consumptionInput {
    width: 5vw;
}

/* ------- Management ----------*/

.control {
    display: flex;
}

#select {
    display: inline-block;
    width: 400px;
    border-radius: 20px;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);

    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;

    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;

    background-repeat: no-repeat;

    /* reset */
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#select:focus {
    background-image:
        linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);

    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;

    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
  
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

#select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
  }


