* {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: calc(15px + 0.3vw);
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-size: calc(1em + 5vh);
    line-height: 0.9em;
    margin-bottom: 0.3em;
}

h2 {
    font-size: calc(2em + 2vh);
    text-align: center;
    margin: 0;
}

h3 {
    font-size: calc(1em + 1vh);
    margin: 0;
}

p {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

a:hover {
     color: #248277;
} 

a:active, a:focus {
    outline: none;
}

button {
    cursor: pointer;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.button-primary {
    width: 230px;
    height: 50px;
    background-color: #248277;
    border: #248277 solid 2px;
    text-transform: uppercase;
}

.button-primary:hover {
    background-color: white;
    color: #333;
}

.button-secondary {
    width: 150px;
    height: 40px;
    background-color: #333;
    border: #333;

}

.button-secondary:hover {
    background-color: white;
    color: #333;
    border: #333 2px solid;
}

/*--------------- NAVIGATION ---------------*/

.header {
    width: 100%;
    height: 100px;
}

.logo {
    font-family: 'Oswald', sans-serif;
    float: left;
    padding: 1.5em 0 1.5em 5%;
}

.navbar-brand {
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
}

.logo img {
    height: calc(30px + 2vh);
}

.navbar {
    opacity: 0.98;
}

.navbar-nav { 
    float: right;
    padding-top: 5px;
    padding-right: 10%; 
    list-style: none; 
    display: table;
    width: 10%;
    text-align: center;
}

.nav-item { 
    display: table-cell; 
    position: relative; 
    padding: 0.75em 1em;
    color: black;
}

/*---------------- HEADER STUCK ----------------*/

.header-stuck {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;

    height: 100px;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding-bottom: 10px;

    box-shadow: 0px 0px 3px 0.1px #B1B1B1;
    animation: fadein;
    animation-duration: 0.3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


/*--------------- MOBILE MENU ---------------*/
.hamburger-menu {display: none;}

#menu__toggle {
    opacity: 0;
}
  
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color: black;
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: black;
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 2;
}
  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #333;
  
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: visible;
    top: 0;
    right: -100%;
  
    width: 200px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
    z-index: 1;
  
    list-style: none;
  
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
}

.menu__box li a {
    color: black;
    font-size: 1em;
	text-decoration: none;
	text-transform: none;
	display:block;
    position: relative;
}

.menu__box li {
	text-align: end;
	list-style: none;
    margin: 0 30px 10px 30px;

}

/*--------------- X HAMBURGER MENU ---------------*/

.menu__btn-black > span,
.menu__btn-black > span::before,
.menu__btn-black > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #333;
  
    transition-duration: .25s;
}

.menu__btn-black > span::before {
    content: '';
    top: -8px;
}

.menu__btn-black > span::after {
    content: '';
    top: 8px;
}

.menu__box li a:hover {
    color: #248277;
}

@media (max-width:980px) {
    .navbar-nav {display: none;}
    .navbar-stuck {display:none;}
    .hamburger-menu {display: block}
}

/*--------------- HER0 SECTION ---------------*/
main {
    margin-top: 10vh;
    flex: 1 0 auto;
    padding: 0 10%;
}

.container {
	display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    z-index: -1;
}

.hero-image img {
    min-width: 100%;
}

.section-inside {
    position: relative; 
    padding-top: 48px;
    padding-bottom: 48px;
    padding: 48px 16px;
}

@media (max-width: 1400px) {
    .hero-image img {
        max-width: 500px;
        
    }
}

@media (max-width: 1100px) {
    .hero-image img {
        display: none;
        
    }
}

/*--------------- FEATURE ---------------*/
.feature {
    width: 100%;
    margin-top: 10vh;
    padding: 5vh 0;
    background-color: #F7F9FC;
}

.feature-container {
    display: flex;
    flex-direction: row;
    padding: 5vh 10%;
    justify-content: space-between;
}

.feature-card {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: calc(300px + 2vw);
    height: calc(400px + 1vh);
    min-width: 200px;

    background-color: white;
    padding: 10vh 3vw;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 10px 0px #B1B1B1; 
    box-shadow: 4px 4px 10px 0px #B1B1B1;
}

.feature-card:not(:first-child) {
    margin-left: 5vh;
}

.feature-card img {
    width: 15vh;
    margin: 2vh 0;
}

@media (max-width: 1200px) {
    .feature-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature-card {
        width: 60%;
        padding: 2vh;
    }

    .feature-card:not(:first-child) {
        margin-left: 0;
        margin-top: 5vh;
    }

}
/*--------------- FOOTER ---------------*/
footer {
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.copyright {
    width: 100%;
}

footer p {
    font-size: 0.6em;
    text-align: end;
    margin-top: -5px;
}


